/src
/tests
.vscode
# dependencies
/node_modules
jsdoc.json
.babelrc
webpack.config.js

# misc
.DS_Store
svg-from-file.gif
node-example.png
client-example.png

npm-debug.log*

*.svg
# npm debug log
*.log

/dist
/docs
